.module-dashboard {
    padding: 20px;
    font-family: Nunito, sans-serif;
}

.module-header h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.module-header p {
    font-size: 0.989rem;
}

.grades {
    margin-top: 20px;
}

.grade-bar {
    display: flex;
    height: 14px;
    border-radius: 14px;
    background-color: #111;
    margin-top: 8px;
    overflow: hidden;
}

.grade-bar .achieved {
    background-color: #16a085;
}

.grade-bar .remaining {
    background-color: #222;
}


.section-header {
    cursor: pointer;
}

.section-notes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
