.note-date-time p {
    font-size: 0.611rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
    margin-top: -3px;
}

.note-date-time svg {
    transform: translateY(2px);
    margin-right: 9px;
    font-size: 12px;
}
