.note-tags {
    display: flex;
    gap: 6px;
    margin: 0 -3px;
}

.note-tags .secondary-tag {
    background-color: #222;
}

.note-tags .tag p {
    padding: 5px 12px;
    font-size: 0.611rem;
    font-weight: 600;
    margin: 0;
    margin-right: 3px;
    transform: translateY(-1px);
}

.note-tags .tag p svg {
    transform: translateY(1.5px);
    margin-right: 3px;
    margin-left: 0;
}
