.note-urls {
    display: flex;
    flex-direction: column;
    color: #00e;
    border-radius: 0;
    margin: 3px 0;
}

.note-urls svg {
    transform: translateY(3px);
}

.note-urls a {
    text-decoration: none;
    color: #0080ff;
    font-size: 0.989rem;
    margin-left: 6px;
    margin-bottom: 20px;
}

.note-urls a:hover {
    color: #30b0ff;
}
